:root {
  font-family: arial;
  text-align: center;
}

body {
  padding: 20px 20px 20px 20px;
}

.container {
  text-align: left;
}

#path {
  color: #555555;
  background-color: #e9e9e9;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
}

.button.blue {
  color: #ffffff;
  background-color: #6079b9;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.button.blue.disabled {
  background-color: #aebcdc
}

.button.blue:hover {
  background-color: #405fab;
}

.button.blue.disabled:hover {
  background-color: #9faed5;
  cursor: not-allowed;
}